body{
    background-color: lightgoldenrodyellow;
}

h1{
    color: darkmagenta;
    font-family: 'Courier New', Courier;
    background-color: cyan;
}

#show_sketch{
    float: right;
}

canvas{
    border: 3px solid lightcyan;
    border-radius: 10px;
    animation-name: animation;
    animation-duration: 5s;
    margin-top: 10px;
    animation-iteration-count: infinite; 
}

@keyframes animation{
    from {box-shadow: 1px 1px 38px grey}
    to {box-shadow: 1px 1px 38px whitesmoke;}
}

p{
    padding-top: 10px;
    font-size: 25px;
}